<!DOCTYPE html>
<html>
    <head>
        <title>roghaye</title>
    </head>
    <body >

        <div style="text-align:center ; border:rgb(255, 255, 255); padding:15px; margin:50px; ">
            <img src="D:\html\htmlroghaye\catt.jpg" width:"250px" height="250px">
            <h2 style="color:black;">رقیه علیزاده</h2><br>
            <h3 style="color:black;">شغل:دانشجو</h3><br>
            <h4 style="color:black;">سن:18</h4>
            <a href="https://github.com/roghayealiizade1/htmlroghayeh1.git" target="_blank">githublink</a>
        </div>
    </body>
</html>